.bio {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
}

.bio > div:last-child {
    display: flex;
    gap: 8px;
}