.edu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: ivory;
    padding: 12px;
}

.edu > div:last-child {
    display: flex;
    gap: 12px;
}