.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background-color: ivory;
    padding: 12px;
}

.job > div:last-child {
    display: flex;
    gap: 12px;
}