.job-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    background-color: lightgray;
}

.job-card > input:not([type="date"]),
.job-card > textarea {
    align-self: stretch;
}