.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

.resume h3 {
    margin: 0;
}

.resume ul {
    margin: 0;
}

.resume > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.bio-section > div:nth-child(2) {
    display: flex;
    gap: 12px;
}